.column {
  min-height: 250px;
}

.image-area {
  background-color: hsl(0, 0%, 29%);
}

.column.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 769px) {
  .reverse-row-order {
    flex-direction: column-reverse;
    display: flex;
  }
}