.profile-section {
  min-height: 90vh;
  background: linear-gradient( to right top, #051937, #121d37, #1b2136, #232536, #292a35), url(https://images.unsplash.com/photo-1500468756762-a401b6f17b46?auto=format&fit=crop&w=1268&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: hard-light;
  z-index: 0;
}

.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 275px;
}

.tint {
  background-color: black;
  z-index: 1;
}

.is-ancestor {
  height: 100%;
}

.chart-area {
  background-color: black;
}

#progressChart {
  height: 100%;
  width: 100%;
}

.down {
  color: red;
}

.up {
  color: green;
}