.sign-up-container {
  min-height: 93vh;
  background-color: hsl(0, 0%, 21%);
}

.field-control {
  width: 100% !important;
}

.sign-up-section {
  min-width: 100%;
  padding: 0;
  padding-top: 3.4em;
}

.sign-up-area {
  padding: 30px;
  background-color: hsl(0, 0%, 98%);
  max-width: 550px;
}

.input {
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 10px;
  width: 100%;
  max-width: 275px;
}

.login-prompt {
  margin-top: 20px;
}

.workout-data-section {
  /*background: #ff5300;
  background: -webkit-linear-gradient(top left, #ff5300, #d80000);
  background: -moz-linear-gradient(top left, #ff5300, #d80000);
  background: linear-gradient(top left, #ff5300, #d80000);*/
}

.fieldWarning {
  color: #ff0000;
}