.sign-up-container {
  min-height: 93vh;
  background: url(https://images.unsplash.com/photo-1491484815100-6f2890d04007?auto=format&fit=crop&w=2550&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.field-control {
  width: 100% !important;
}

.sign-up-section {
  min-width: 100%;
  padding: 0;
  padding-top: 3.4em;
}

.sign-up-area {
  padding: 30px;
  background-color: hsl(0, 0%, 98%);
  max-width: 550px;
}

.input {
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 10px;
  width: 100%;
  max-width: 275px;
}

.login-prompt {
  margin-top: 20px;
}

.fieldWarning {
  color: #ff0000;
}