.resource-section {
  min-height: 93vh;
}

.even-section {
  background-color: #292a35;
  min-height: 250px;
}

.odd-section {
  background-color: hsl(348, 100%, 61%);
  min-height: 250px;
}

.link {
  margin: 0 !important;
}