.resource-section {
  min-height: 93vh;
}

.even-section {
  background-color: hsl(0, 0%, 21%);
  min-height: 250px;
}

.odd-section {
  background-color: hsl(0, 0%, 71%);
  min-height: 250px;
}

.link {
  margin: 0 !important;
}
