.resource-section {
  min-height: 93vh;
}

.even-section {
  background-color: #292a35;
  min-height: 250px;
}

.odd-section {
  background-color: hsl(0, 0%, 98%) !important;
  color: #6b7c93 !important;
  min-height: 250px;
}

.link {
  margin: 0 !important;
}

.even-link:hover {
  color: white !important;
}