body {
  margin: 0;
  padding: 0;
  /*font-family: 'Open Sans', sans-serif !important;*/
  font-family: Camphor, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

button:active {
  color: #f6f9fc !important;
}

.is-primary-git {
  border: 0;
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  color: #f6f9fc;
}

.is-info-git {
  border: 0;
  background-image: linear-gradient( to right top, #2c568e, #356299, #3e6ea3, #477aae, #5186b8);
  color: hsl(0, 0%, 98%);
  font-size: 1.1rem !important;
  font-weight: 600;
}

.is-success-git {
  border: 0;
  background-color: #3ecf8e;
  color: #f6f9fc !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}

.is-background-git {
  border: 0;
  background-color: hsl(0, 0%, 98%) !important;
  color: #6b7c93 !important;
}

.is-profile-git {
  border: 0;
  background-color: #292a35;
  color: hsl(0, 0%, 98%) !important;
}